<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcc.core.exam.mapper.OrderSummaryVoMapper">
    <!--<resultMap id="BaseResultMap" type="wcc.core.exam.dto.OrderSummaryVO">-->
        <!--<result column="headerId" property="headerId" jdbcType="DECIMAL"/>-->
        <!--<result column="orderNumber" property="orderNumber" jdbcType="VARCHAR"/>-->
        <!--<result column="companyName" property="companyName" jdbcType="VARCHAR"/>-->
        <!--<result column="customerName" property="customerName" jdbcType="VARCHAR"/>-->
        <!--<result column="orderDate" property="orderDate" jdbcType="DATE"/>-->
        <!--<result column="orderStatus" property="orderStatus" jdbcType="VARCHAR"/>-->
        <!--<result column="totalPrice" property="totalPrice" jdbcType="DECIMAL"/>-->
    <!--</resultMap>-->
    <!--todo 查询一行全为空的问题-->
    <select id="selectConditionally" parameterType="wcc.core.exam.dto.OrderSummaryVO" resultType="wcc.core.exam.dto.OrderSummaryVO">
        SELECT
        oh.HEADER_ID headerId,
        oh.ORDER_NUMBER orderNumber,
        cm.COMPANY_NAME companyName,
        ct.CUSTOMER_NAME customerName,
        oh.ORDER_DATE orderDate,
        oh.ORDER_STATUS orderStatus,
        SUM(ol.UNIT_SELLING_PRICE * ol.ORDERD_QUANTITY) totalPrice
        FROM
        hap_om_order_headers oh,
        hap_om_order_lines ol,
        hap_ar_customers ct,
        hap_org_companys cm,
        hap_inv_inventory_items i
        WHERE oh.COMPANY_ID = cm.COMPANY_ID
        AND oh.CUSTOMER_ID = ct.CUSTOMER_ID
        AND oh.HEADER_ID = ol.HEADER_ID
        AND ol.INVENTORY_ITEM_ID = i.INVENTORY_ITEM_ID
        <if test="companyId!=null">
            AND oh.COMPANY_ID = #{companyId}
        </if>
        <if test="customerId!=null">
            AND oh.CUSTOMER_ID = #{customerId}
        </if>
        <if test="orderNumber!=null">
            AND oh.ORDER_NUMBER = #{orderNumber}
        </if>
        <if test="inventoryItemId!=null">
            AND ol.INVENTORY_ITEM_ID = #{inventoryItemId}
        </if>
        <if test="orderStatus!=null">
            AND oh.ORDER_STATUS = #{orderStatus}
        </if>
    </select>

</mapper>