<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcc.core.exam.mapper.OrderSummaryVoMapper">
    <!--todo 查询一行全为空的问题-->
    <select id="selectConditionally" parameterType="wcc.core.exam.dto.OrderSummaryVO"
            resultType="wcc.core.exam.dto.OrderSummaryVO">
        SELECT
        oh.HEADER_ID headerId,
        oh.ORDER_NUMBER orderNumber,
        oh.COMPANY_ID companyId,
        oh.CUSTOMER_ID customerId,
        oh.ORDER_DATE orderDate,
        oh.ORDER_STATUS orderStatus,
        SUM(ol.UNIT_SELLING_PRICE * ol.ORDERD_QUANTITY) totalPrice
        FROM
        hap_om_order_headers oh,
        hap_om_order_lines ol
        WHERE oh.HEADER_ID = ol.HEADER_ID
        <if test="headerId!=null">
            AND oh.HEADER_ID = #{headerId}
        </if>
        <if test="companyId!=null">
            AND oh.COMPANY_ID = #{companyId}
        </if>
        <if test="customerId!=null">
            AND oh.CUSTOMER_ID = #{customerId}
        </if>
        <if test="orderNumber!=null">
            AND oh.ORDER_NUMBER = #{orderNumber}
        </if>
        <if test="inventoryItemId!=null">
            AND ol.INVENTORY_ITEM_ID = #{inventoryItemId}
        </if>
        <if test="orderStatus!=null">
            AND oh.ORDER_STATUS = #{orderStatus}
        </if>
        GROUP BY oh.HEADER_ID
    </select>

</mapper>